<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Friends</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <style>
        .friend-box {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 0px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
    }
    .status-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 10px;
    }
    .free {
    background-color: green;
    }
    .occupied {
    background-color: red;
    }
    </style>
</head>
<body style="background-color:#f0f0f0;">
    <div class="container">
        <!-- Navigation Bar -->
        <div class="nav-bar">
            <a href="profile_page" class="profileButton">Profile</a>
        </div>

        <!-- Logo Section -->
        <div class="logo">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" width="300">
        </div>

        <h1>Welcome, {{ username }}!</h1>
        <h2>Your Friends</h2>

        <ul class="friends-list">
            {% for friend in friend_list %}
                <li class="friend-box">
                    <div class="status-circle {% if friend[1] == 'True' %}free{% else %}occupied{% endif %}"></div>
                    {{ friend[0] }}
                </li>
            {% endfor %}
        </ul>

        <form method="POST" action="{{ url_for('add_friend') }}">
            <div class="input-group">
                <input type="text" id="friend_name" name="friend_name" placeholder="Enter friend's username" required>
            </div>
            <button type="submit" class="button">Add Friend</button>
        </form>

        <a href="login" class="button">Sign Out</a>
    </div>
</body>
</html>
