<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Friends</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>
<body style="background-color:#f0f0f0;">
    <div class="container">
        <!-- Navigation Bar -->
        <div class="nav-bar">
            <a href="profile_page" class="profileButton">Profile</a>
        </div>

        <!-- Logo Section -->
        <div class="logo">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" width="300">
        </div>

        <h1>Welcome, {{ name }}!</h1>
        <h2>Your Friends</h2>

        <ul class="friends-list">
            {% for friend in friends %}
                <li class="friend-box">
                    <div class="status-circle {% if friend[1] == 'True' %}free{% else %}occupied{% endif %}"></div>
                    {{ friend.name }}
                </li>
            {% endfor %}
        </ul>

        <a href="{{ url_for('add_friend') }}" class="button">Add a Friend</a>
        <a href="login" class="button">Sign Out</a>
    </div>
</body>
</html>
